USE [master]
GO
/****** Object:  Database [NetworkDisk]    Script Date: 2021/6/17 21:56:50 ******/
CREATE DATABASE [NetworkDisk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetworkDisk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NetworkDisk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetworkDisk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NetworkDisk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetworkDisk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetworkDisk]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2021/6/17 21:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Users] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Sex] [varchar](2) NULL,
	[Phone] [varchar](20) NULL,
	[Realname] [varchar](8) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Users], [Password], [Sex], [Phone], [Realname]) VALUES (1, N'17687456033', N'liang1234', N'男', N'17687456444', N'王者')
INSERT [dbo].[User] ([UserId], [Users], [Password], [Sex], [Phone], [Realname]) VALUES (2, N'17687456044', N'147258369', N'男', N'17687456044', N'王者')
INSERT [dbo].[User] ([UserId], [Users], [Password], [Sex], [Phone], [Realname]) VALUES (3, N'17687456044', N'147258369', N'男', N'17687456044', N'王者')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_User]    Script Date: 2021/6/17 21:56:50 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
